<!DOCTYPE html>
<html>
  <head>
    <title>{{ cookiecutter.project_slug }}</title>
    <meta charset="utf-8" />
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
